@import url("./styles/welcome.css");
@import url("./styles/variables.css");
@import url("./styles/header.css");
@import url("./styles/placard.css");
@import url("./styles/why-coffee.css");
@import url("./styles/about-us.css");
@import url("./styles/our-coffee.css");
@import url("./styles/feedbacks.css");
@import url("./styles/updates.css");
@import url("./styles/subscription.css");
@import url("./styles/faq.css");
@import url("./styles/footer.css");
@import url("./styles/p-header.css");
@import url("./styles/off-screen.css");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
