@import url("./styles/welcome.css");
@import url("./styles/variables.css");
@import url("./styles/header.css");
@import url("./styles/placard.css");
@import url("./styles/why-coffee.css");
@import url("./styles/about-us.css");
@import url("./styles/our-coffee.css");
@import url("./styles/feedbacks.css");
@import url("./styles/updates.css");
@import url("./styles/subscription.css");
@import url("./styles/faq.css");
@import url("./styles/footer.css");
@import url("./styles/p-header.css");
@import url("./styles/off-screen.css");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--text-color-terciary);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

/* Estilo da barra de rolagem para Firefox */
.scrollable {
    scrollbar-width: thin;
    scrollbar-color: var(--text-color-terciary) var(--primary-color);
}
