.faq{
    padding: var(--gp-86) var(--gp-64) var(--gp-24);
    background-color: var(--secondary-color);
    min-height: 844px ;
}

.faq-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gp-48);
}

.faq-imgbox{
    padding: var(--gp-24);
    border: var(--border-secondary);
    border-radius: var(--radius-3);
    background-image: url("https://i.ibb.co/QJVy4Ry/faq.jpg");
    background-size: cover;
    background-clip: border-box;
    background-position: center;
}

.faq-box{
    display: flex;
    align-items: center;
    place-content: space-between;
    background-color: var(--secondary-color);
    padding: var(--gp-16);
    border-radius: var(--radius-2);
}

.faq-tt{
    font: var(--fsize-40);
    color: var(--text-color-primary);
    transition: all 0.6s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.faq-descp{
    width: 25%;
    font: var(--fsize-14);
    color: var(--text-color-primary);
}


.faq-ls{
    height: 710px;
    display: grid;
    grid-column:span 2;
    gap: var(--gp-24);
    place-content: space-between;
}

.faq-item{
    display: flex;
    flex-direction: column;
    padding: var(--gp-24);
    border-radius: var(--radius-3);
    border: var(--border-secondary);
    grid-column: span 2;
    transition: all 0.6s cubic-bezier(0.4, 0.0, 0.2, 1);
}


.faq-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    place-content: space-between;
    cursor: pointer;
    gap: var(--gp-24);
}

.faq-ls-tt{
    font: var(--fsize-24);
    color: var(--text-color-primary);
}


.faq-ls-descp{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.6s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    font: var(--fsize-18);
    color: var(--text-color-terciary);
}

.faq-btn{
    visibility: hidden;
    height: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 0s 0s cubic-bezier(0.4, 0.0, 0.2, 1), height 0 0s cubic-bezier(0.4, 0.0, 0.2, 1), padding 0s 0s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s 0s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.faq-arrow{
    height: 48px;
}

.arrow-faq{
    width: 48px;
}

.faq-item.open{
    gap: var(--gp-8);
    background-color: var(--quaternary-color);
}

.faq-item.open .faq-ls-tt{
    color: var(--text-color-secondary);
}

.faq-item.open .faq-ls-descp {
    opacity: 1;
    max-height: auto;
}

.faq-item.open .faq-arrow {
    color: var(--text-color-primary);
    border: var(--border-primary);
    background-color: var(--secondary-color);
    transform: rotate(180deg);
    transition: all 0.6s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.faq-item.open .faq-btn{
    visibility: visible;
    height: fit-content;
    padding: var(--btn-default);
    opacity: 1;
    transition: opacity 0.3s 0.3s cubic-bezier(0.4, 0.0, 0.2, 1), height 0.3s 0.3s cubic-bezier(0.4, 0.0, 0.2, 1), padding 0.3s 0.3s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0.3s 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* Media Quiere */

@media (min-width: 1000px) and (max-width: 1200px){

    .faq-content{
     grid-template-columns: 1fr
    }

    .faq-ls{
        grid-column: 1 / 2;
        gap: var(--gp-24);
    }

    .faq-imgbox{
        height: 300px;
    }

}

@media (min-width: 375px) and (max-width: 999px){
    .faq-content{
        grid-template-columns: 1fr
       }
   
       .faq-ls{
           grid-column: 1 / 2;
           gap: var(--gp-24);
       }
   
       .faq-imgbox{
           height: 300px;
       }
       .faq-descp{
        width: 60%;
       }
}

@media (min-width: 375px) and (max-width: 700px){
    .faq{
        padding: var(--gp-48) var(--gp-16);
    }
    .faq-header{
        gap: var(--gp-16);
    }
}

@media (min-width: 375px) and (max-width: 700px){
    .faq-ls-tt{
        font: var(--fsize-20);
    }
}

