.feedbacks{
    width: 100%;
    padding: var(--gp-86) var(--gp-64);
    display: flex;
    flex-direction: column;
    gap: var(--gp-48);
}

.fb-title{
    font: var(--fsize-20);
    text-transform: uppercase;
    color: var(--text-color-secondary);
}

.fb-header{
    display: flex;
    justify-content: space-between;
}

.fb-subtitle{
    font: var(--fsize-40);
    color: var(--text-color-secondary);
}

.fb-desc{
    font: var(--fsize-20);
    color: var(--text-color-terciary);
}

.fb-arrows{
    display: flex;
    gap: var(--gp-24);
}

.fb-content{
    width: 100%;
    display: flex;
    overflow: hidden;
    gap: var(--gp-24);
}

.fb-comment{ 
    width: 100%;
    flex: 0 0 calc(50.5% - var(--gp-24));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--gp-24);
    border: var(--border-primary);
    border-radius: var(--radius-3);
    padding: var(--gp-24);
}

.fb-mark{
    display: flex;
    width: 4.5%;
}

.fb-c-text{
    width: 100%;
    height: 100%;
    font: var(--fsize-20);
    line-height: 1.75rem;
    color: var(--text-color-secondary);
    text-align: justify;
}

.fb-people{
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--gp-16);
}

.fb-img-p{
    width: 64px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.3);
    border: var(--border-primary);
    border-radius: var(--radius-3);
    background-size: cover;
    background-position: center;
}

.fb-descp-p{
    display: flex;
    flex-direction: column;
}

.fb-name{
    font: var(--fsize-20) ;
    color: var(--text-color-secondary);
    font-weight: 600;
}

.fb-plan{
    font: var(--fsize-16);
    color: var(--text-color-terciary);
}

.btng-b-c.disabled {
    background-color: #fff;
    color: var(--text-color-secondary);
    pointer-events: none; /* Desativa o clique */
}

@media (min-width: 375px) and (max-width: 900px){


    .fb-comment{
        flex: 0 0 100%;
    }

    .fb-header{
        flex-direction: column;
        gap: var(--gp-24);
    }

    .fb-arrows{
        place-content: space-between;
    }

    .fb-header-text{
        width: 90%;
    }
}

@media (min-width: 375px) and (max-width: 700px){
    .feedbacks{
        padding: var(--gp-48) var(--gp-16);
    }
}
