.feedbacks{
    padding: var(--gp-86) var(--gp-64);
    display: flex;
    flex-direction: column;
    gap: var(--gp-48);
}

.fb-title{
    font: var(--fsize-20);
    text-transform: uppercase;
    color: var(--text-color-secondary);
}

.fb-header{
    display: flex;
    justify-content: space-between;
}

.fb-subtitle{
    font: var(--fsize-40);
    color: var(--text-color-secondary);
}

.fb-desc{
    font: var(--fsize-20);
    color: var(--text-color-terciary);
}

.fb-arrows{
    display: flex;
    gap: var(--gp-24);
}

.fb-content{
    width: 100%;
    gap: var(--gp-48);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}

.fb-comment{
    display: flex;
    flex-direction: column;
    gap: var(--gp-24);
    border: var(--border-primary);
    border-radius: var(--radius-3);
    padding: var(--gp-24);
    grid-area: span 2;
}

.fb-mark{
    display: flex;
    width: 4.5%;
}

.fb-c-text{
    width: 500px;
    height: 100%;
    font: var(--fsize-20);
    line-height: 1.75rem;
    color: var(--text-color-secondary);
    text-align: justify;
}

.fb-people{
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--gp-16);
}

.fb-img-p{
    width: 64px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.3);
    border: var(--border-primary);
    border-radius: var(--radius-3);
    background-size: cover;
    background-position: center;
}

.fb-descp-p{
    display: flex;
    flex-direction: column;
}

.fb-name{
    font: var(--fsize-20) ;
    color: var(--text-color-secondary);
    font-weight: 600;
}

.fb-plan{
    font: var(--fsize-16);
    color: var(--text-color-terciary);
}