.our-coffee{
    width: 100%;
    box-sizing: border-box;
    padding: var(--gp-86) var(--gp-64);
    display: flex;
    gap: var(--gp-86);
}

.our-img{
    width: 50%;
    object-fit: cover;
    transition: 0.3s;
    border-radius: var(--radius-3);
}

.our-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gp-48);
    justify-content: center;
}

.our-content-t{
    display: flex;
    flex-direction: column;
    gap: var(--gp-16);
}

.our-title{
    font: var(--fsize-20);
    text-transform: uppercase;
    color: var(--text-color-secondary);
}

.our-subtitle{
    font: var(--fsize-40);
    width: 65%;
    color: var(--text-color-secondary);
}

.our-descp{
    font: var(--fsize-20);
    color: var(--text-color-terciary);
}

/* Media Quiere */

@media (min-width: 700px) and (max-width: 1200px){
    .our-subtitle{
        width: 100%;
    }

    .our-descp{
    line-height: 1.75rem;
    }
}

@media (min-width: 375px) and (max-width: 700px){


    .our-coffee{
        flex-direction: column;
        gap: var(--gp-16);
        padding: var(--gp-48) var(--gp-16);
    }

    .our-img{
        width: 100%;
    }
}

@media (min-width: 375px) and (max-width: 500px){
    .our-subtitle{
        width: 90%;
        font: var(--fsize-28);
        font-weight: 600;
    }

    .our-descp{
        font: var(--fsize-18);
    }
}