.subscription{
    display: flex;
    flex-direction: column;
    padding: var(--gp-86) var(--gp-64);
    gap: var(--gp-48);
}

.sbs-title{
    font: var(--fsize-20);
    text-transform: uppercase;
    color: var(--text-color-secondary);
}

.sbs-header{
    display: flex;
    flex-direction: column;
}

.sbs-subtitle{
    font: var(--fsize-40);
    color: var(--text-color-secondary);
}

.sbs-descp{
    width: 40%;
    font: var(--fsize-20);
    color: var(--text-color-terciary);
}

.sbs-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gp-86);
}

.sbs-container-w{
    display: flex;
    flex-direction: column;
    place-content: space-between;
    gap: var(--gp-64);
    padding: var(--gp-24);
    border: var(--border-primary);
    border-radius: var(--radius-3);
    background-color: var(--quaternary-color);
}

.sbs-c-t{
    width: 40%;
    font: var(--fsize-24);
    color: var(--text-color-secondary);
    font-weight: normal;
}

.sbs-c-t strong{
    font: var(--fsize-32);
    font-family: "Sansita", serif;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 2px;
}

.sbs-c-price{
    font: var(--fsize-16);
    color: var(--text-color-secondary);
}

.sbs-c-price strong{
    font: var(--fsize-40);
}

.sbs-c-list{
    display: flex;
    flex-direction: column;
    gap: var(--gp-24);
}

.sbs-item-list{
    width: 100%;
    font: var(--fsize-18);
    color: var(--text-color-secondary);
}

.sbs-btn{
    width: 100%;
    justify-content: center;
}

.sbs-container-b{
    display: flex;
    flex-direction: column;
    place-content: space-between;
    gap: var(--gp-64);
    padding: var(--gp-24);
    background: var(--secondary-color);
    border-radius: var(--radius-3);
}

.sbs-c-t-b{
    width: 40%;
    font: var(--fsize-24);
    color: var(--text-color-primary);
    font-weight: normal;
}

.sbs-c-t-b strong{
    font: var(--fsize-32);
    font-family: "Sansita", serif;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 2px;
}

.sbs-c-price-b{
    font: var(--fsize-16);
    color: var(--text-color-primary);
}

.sbs-c-price-b strong{
    font: var(--fsize-40);
}

.sbs-item-list-b{
    width: 100%;
    font: var(--fsize-18);
    color: var(--text-color-primary);
}

/* Media Quiere */

@media (min-width: 1000px) and (max-width: 1200px){
    .sbs-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        justify-items: center;
        gap: var(--gp-48);
    }

    .sbs-container-b{
        grid-column: 1 / 3;
        width: 48%;
    }

    .sbs-c-t-b{
        width: 60%;
    }

    .sbs-2{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .sbs-descp{
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 999px){
    .sbs-content{
        display: flex;
        flex-direction: column;
        gap: var(--gp-48);
    }

    .sbs-container-b{
        width: 100%;
    }

    .sbs-c-t-b{
        width: 60%;
    }
    
    .sbs-descp{
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 700px){
    .subscription{
        padding: var(--gp-48) var(--gp-16);
    }
}

@media (min-width: 320px) and (max-width: 500px){
    .sbs-subtitle{
        font: var(--fsize-28);
        font-weight: 600;
    }

    .sbs-descp{
        font: var(--fsize-18);
    }

    .sbs-c-t{
        width: 60%;
    }

    .sbs-container-b{
        gap: var(--gp-48);
    }
    .sbs-container-w{
        gap: var(--gp-48);
    }
}