.updates{
    width: 100%;
    padding: var(--gp-86) var(--gp-64);
}

.up-container{
    width: 100%;
    padding: var(--gp-24);
    display: flex;
    flex-direction: column;
    gap: var(--gp-16);
    border: var(--border-primary);
    border-radius: var(--radius-3);
}

.up-title{
    font: var(--fsize-40);
    color: var(--text-color-secondary);
}

.up-subtitle{
    width: 70%;
    font: var(--fsize-20);
    line-height: 1.75rem;
    color: var(--text-color-terciary);
}

.up-fields{
    display: flex;
    gap: var(--gp-24);
}

.up-input{
    width: 100%;
    padding: var(--gp-24);
    border: var(--border-primary);
    border-radius: var(--radius-2);
    font: var(--fsize-20);
    color: #121212;
    outline: none;
    position: relative;
    transition: 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}


.up-input::placeholder{
    font: var(--fsize-20);
    color: var(--text-color-secondary);
}

input[type="email"]:focus, input[type="text"]:focus{
    filter: drop-shadow(0px 0px 10px #DD9E8B);
}

.up-btn{
    min-width: 340px;
    border-radius: var(--radius-2);
}

/* Media Quiere */

@media (min-width: 1000px) and (max-width: 1200px){

    .up-subtitle{
        width: 100%;
    }

    .up-fields{
        flex-wrap: wrap;
    }

    .up-input{
        flex: 1;
    }

    .up-btn{
        padding: var(--gp-24);
        flex: 1 0 100%;
    }
}

@media (min-width: 375px) and (max-width: 999px){
    .up-subtitle{
        width: 100%;
    }

    .up-fields{
        flex-wrap: wrap;
    }

    .up-input{
        flex: 1;
    }

    .up-btn{
        padding: var(--gp-24);
        flex: 1 0 100%;
    }
}

@media (min-width: 375px) and (max-width: 700px){

    .updates{
        padding: var(--gp-48) var(--gp-16);
    }

    .up-fields{
        flex-direction: column;
    }

    .up-btn{
       min-width: 100%;
       word-wrap: break-word;
    }
}