:root{
    /* Colors */
    --primary-color: #664237;
    --secondary-color: #553328;
    --terciary-color: #fff;
    --text-color-primary: #fff;
    --text-color-secondary: #533126;
    --text-color-terciary: #A26756;
    --opacity-bg: rgba(0,0,0, 0.5);

    /* Border */
    --border-primary: 2px solid var(--secondary-color);
    --border-secondary: 2px solid var(--terciary-color);

    /* Radius */
    --radius-1: 16px;
    --radius-2: 24px;
    --radius-3: 40px;
    --radius-circle: 99px;

    /* Font size */
    --fsize-96: normal normal bold 6rem/7.2rem "Lexend", sans-serif;
    --fsize-48: normal normal bold 3rem/2.7rem "Lexend", sans-serif;
    --fsize-40: normal normal bold 2.5rem/2.7rem "Lexend", sans-serif;
    --fsize-32: normal normal 500 2rem/2.7rem "Lexend", sans-serif;
    --fsize-28: normal normal 600 1.75rem/2.1rem "Lexend", sans-serif;
    --fsize-24: normal normal 600 1.5rem/1.75rem "Lexend", sans-serif;
    --fsize-20: normal normal normal 1.25rem/1.5rem "Lexend", sans-serif;
    --fsize-18: normal normal normal 1.125rem/1.575rem "Lexend", sans-serif;
    --fsize-16: normal normal normal 1rem/1.75rem "Lexend", sans-serif;
    --fsize-14: normal normal normal 0.875rem/1.05rem "Lexend", sans-serif;

    /* Gap&Padding */
    --gp-86:86px;
    --gp-64:64px;
    --gp-48:48px;
    --gp-24:24px;
    --gp-20:20px;
    --gp-16:16px;
    --gp-8:8px;
    --gp-4:4px;
    --btn-default: 10px 24px 10px 24px;
}

/* Buttons Styles */

.btng-w-d{
    display: flex;
    width: fit-content;
    align-items: center;
    font-weight: 600;
    padding: var(--btn-default);
    color: var(--text-color-primary);
    border: var(--border-secondary);
    border-radius: var(--radius-1);
    font: var(--fsize-20);
    background-color: none;
    transition: .3s cubic-bezier(0.25, 1, 0.5, 1);
}

.btng-b-d{
    display: flex;
    width: fit-content;
    align-items: center;
    font-weight: 600;
    padding: var(--btn-default);
    color: var(--text-color-secondary);
    border: var(--border-primary);
    border-radius: var(--radius-1);
    font: var(--fsize-20);
    background-color: none;
    transition: .3s cubic-bezier(0.25, 1, 0.5, 1);
}

.btnf-w-d{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    font: var(--fsize-20);
    font-weight: 600;
    color: var(--text-color-secondary);
    padding: var(--btn-default);
    border-radius: var(--radius-1);
    background-color: var(--terciary-color);
    transition: .3s cubic-bezier(0.25, 1, 0.5, 1);
}

.btng-b-c{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    color: var(--text-color-primary);
    border: var(--border-primary);
    border-radius: var(--radius-circle);
    background-color: var(--secondary-color);
    transition: .3s cubic-bezier(0.25, 1, 0.5, 1);
    cursor: pointer;
}

.btng-w-c{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    color: var(--text-color-primary);
    border: var(--border-secondary);
    border-radius: var(--radius-circle);
    transition: .3s cubic-bezier(0.25, 1, 0.5, 1);
    cursor: pointer;
}

.btnf-b-d{
    display: flex;
    word-wrap: nowrap;
    width: fit-content;
    justify-content: center;
    align-items: center;
    font: var(--fsize-20);
    font-weight: 600;
    gap: var(--gp-8);
    color: var(--text-color-primary);
    padding: var(--btn-default);
    border: none;
    border-radius: var(--radius-1);
    background-color: var(--primary-color);
    transition: .3s cubic-bezier(0.25, 1, 0.5, 1);
    cursor: pointer;
}

.btng-w-d:hover, .btng-b-d:hover, .btnf-w-d:hover,.btng-b-c:hover,.btnf-b-d:hover{
    transform: scale(1.05);
  }