.welcome{
    width: auto;
    height: auto;
    background-color: none;
    padding: 16px;
}

.content-welcome{
    box-sizing: border-box;
    height: 800px;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: var(--radius-3);
}

.bg-welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
    background-image: url(../assets/section-welcome.jpg);
    background-position: center;
    background-size: cover;
    transform: scale(1);
    background-size: 120%;
    animation: 1.5s zooom-in cubic-bezier(0.25, 1, 0.5, 1) forwards;
    transition: 0.8s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: -1;
}

@keyframes zooom-in{
    to{
        background-size: 100%;
    }
}

.content-welcome:hover .bg-welcome{
    filter: brightness(0.3);
    transform: scale(1.1);
}

.title-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gp-24);
}

.title-p{
    color: var(--text-color-primary);
    font: var(--fsize-96);
    height: 115.2px;
}

.title-p span{
    display: inline-block;
    overflow: hidden;
}

.title-p i {
  font-style: normal;
  position: relative;
  top: 6rem;
  animation: .8s swift-up cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.sub-p{
    color: var(--text-color-primary);
    font: var(--fsize-20);
    opacity: 0;
    position: relative;
    top: .4rem;
    opacity: 0;
    animation: .5s swift-up cubic-bezier(0.25, 1, 0.5, 1) forwards, .5s fade-in cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: .8s;
  }
  

.cta-welcome{
    display: flex;
    justify-content: center;
    gap: var(--gp-24);

}
.btn-ghost{
    display: flex;
    align-items: center;
    font: var(--fsize-20);
    font-weight: 600;
    color: var(--text-color-primary);
    padding: var(--btn-default);
    border: var(--border-secondary);
    border-radius: var(--radius-1);
    background-color: none;
    opacity: 0;
    animation: .5s swift-up cubic-bezier(0.25, 1, 0.5, 1) forwards, .5s fade-in cubic-bezier(0.25, 1, 0.5, 1) forwards;
    transition: .3s cubic-bezier(0.25, 1, 0.5, 1);
    animation-delay: 1s;
}

.btn-ghost:hover{
    transform: scale(1.05);
}

.btn-fill{
    display: flex;
    align-items: center;
    font: var(--fsize-20);
    font-weight: 600;
    color: var(--text-color-secondary);
    padding: var(--btn-default);
    border-radius: var(--radius-1);
    background-color: var(--terciary-color);
    opacity: 0;
    animation: .5s swift-up cubic-bezier(0.25, 1, 0.5, 1) forwards, .5s fade-in cubic-bezier(0.25, 1, 0.5, 1) forwards;
    transition: .3s cubic-bezier(0.25, 1, 0.5, 1);
    animation-delay: 1.1s;
}

.btn-fill:hover{
    transform: scale(1.05);
}

@keyframes swift-up {
    to {
      top: 0rem;
    }
  }

  
  span:nth-of-type(1) i {
    animation-delay: .1s;
  }
  
  span:nth-of-type(2) i {
    animation-delay: .3s;
  }
  span:nth-of-type(3) i {
    animation-delay: 5s;
  }
  span:nth-of-type(4) i {
    animation-delay: 5s;
  }

@keyframes fade-in {
    to {
      opacity: 1;
    }
  }