.why-coffee{
    display: flex;
    flex-direction: column;
    padding: var(--gp-86) var(--gp-64);
    gap: var(--gp-48);
}

.why-title{
    font: var(--fsize-40);
    width: 465px;
    color: var(--text-color-secondary);
}

.why-content{
    display: flex;
    justify-content: space-between;
    gap: var(--gp-64);
}

.why-img{
    width: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: content-box;
    border-radius: var(--radius-3);
    background-image: url("https://i.postimg.cc/CxdxTL75/why-our-coffee.png");
}

.why-grid{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: var(--gp-86);
}

.why-box{
  display: flex;
  flex-direction: column;
  gap: var(--gp-16);
  width: 100%;
}


.why-titlebox{
    font: var(--fsize-28);
    color: var(--text-color-secondary);
}



.why-descbox{
    font: var(--fsize-20);
    color: var(--text-color-terciary);
}

/* Media Quiere */

@media (min-width: 1000px) and (max-width: 1200px){
    .why-content{
      flex-direction: column;
    }

    .why-img{
        height: 350px;
    }

    .why-grid{
        gap: var(--gp-48);
    }
  }

  @media (min-width: 560px) and (max-width: 999px) {
    .why-content{
        flex-direction: column;
      }
  
      .why-img{
          height: 350px;
      }
  
      .why-grid{
          gap: var(--gp-48);
      }
  }

  @media (min-width: 320px) and (max-width: 700px){
    .why-coffee{
        padding: var(--gp-48) var(--gp-16);
    }

    .why-content{
        flex-direction: column;
      }

    .why-grid{
        grid-template-columns: 1fr;
        gap: var(--gp-24);
    }
    .why-img{
        width: 100%;
        height: 250px;
    }
  }

  @media (min-width: 320px) and (max-width: 500px){
    .why-title{
        width: 100%;
        font: var(--fsize-28);
    }
    
    .why-titlebox{
        font: var(--fsize-24);
    }
    
    .why-descbox{
        font: var(--fsize-18);
    }
  }
  
  