.why-coffee{
    display: flex;
    flex-direction: column;
    padding: var(--gp-86) var(--gp-64);
    gap: var(--gp-48);
}

.why-title{
    font: var(--fsize-40);
    width: 465px;
    color: var(--text-color-secondary);
}

.why-content{
    display: flex;
    justify-content: space-between;
    gap: var(--gp-64);
}

.why-img{
    width: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: content-box;
    border-radius: var(--radius-3);
    background-image: url("../assets/why-our-coffee.png");
}

.why-grid{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: var(--gp-86);
}

.why-box{
  display: flex;
  flex-direction: column;
  gap: var(--gp-16);
  width: 100%;
}


.why-titlebox{
    font: var(--fsize-28);
    color: var(--text-color-secondary);
}



.why-descbox{
    font: var(--fsize-20);
    color: var(--text-color-terciary);
}